@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.right-links,
.left-links {
  display: flex;
  list-style-type: none;
  gap: 15px;
  padding-left: 17px;
  padding-right: 17px;
}

a {
  color: gray;
  text-decoration: none;
}

.content {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-top: auto;
}

button {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 15px;
  padding-right: 15px;
}

.footer {
  display: flex;
  margin-top: auto;
  justify-content: space-between;
  background-color: #eeeeee;
}

