body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  height: 72px;
  background: darkmagenta;
  color: white;
  font-weight: 900;
  font-size: 30px;
  align-items: center;
  padding-left: 15px;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar {
  width: 300px;
  background: royalblue;
  box-sizing: border-box;
  min-width: 300px;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  max-width: 335px;
  max-height: 360px;
  padding: 20px;
  box-sizing: border-box;
  flex-grow: 1;
  font-weight: 30px;
}

.middle {
  display: flex;
  flex-grow: 1;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style-type: none;
  padding-left: 10px;
  font-size: 25px;
}

.content {
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
  margin: 50px;
}

li {
  margin-bottom: 15px;
}