body {
  max-width: 600px;
  margin: 0 auto;
}

.one {
  background: pink;
  border: 3px solid #0000ff;
  padding: 30px;
  margin: 15px;
}

.two {
  background: lightblue;
  border: 3px solid purple;
  margin-bottom: 45px;
}

.three {
  background: peachpuff;
  border: 3px solid brown;
  width: 200px;
  padding: 30px;
  margin-left: 335px;
}