body {
  background: #eee;
  font-family: sans-serif;
  font-size: 16px;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 10px;
  padding-bottom: 1px;


}

.title {
  background: #e3f4ff;
  margin: 14px auto;
  padding: 10px;
  font-size: 16px;
}

.content {
  background: #e3f4ff;
  margin: 14px auto;
  padding: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.button-container {
  background: #e3f4ff;
  margin: 14px auto;
  padding: 10px;
  text-align: center;
}

button {
  display: block;
  background: white;
  border: 1px solid #eee;
  margin: 0 auto;
  padding-right: 16px;
  padding-left: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
}